body{
    margin: 0;
}

/*
=============================
HEADER TAB
=============================
*/

header{
    
    text-align: center;
}

/*
=============================
NAVIGATION TAB
=============================
*/

nav ul{
    list-style: none;
    display : flex;
    justify-content: center;
    background-color: #D90989;
    margin: 0;
    padding: 0;
    
}

nav li{
    margin: 0 1em;
}

nav a{
    display: block;
    
    text-decoration: none;
    padding: 14px 50px;
}

nav a:hover, nav a:active{
    background-color: rgb(228, 72, 168);
}

/*
=============================
MAIN TAB
=============================
*/

section#sec1{
    text-align: center;
    
}